* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  border: 1px solid silver;
}

body {
  display: table;
  margin: 0;
  padding: 10px;
}

header {
  background-color: #455a64;
  padding: 10px 20px;
  font-size: 20px;
  color: grey;
  position: absolute;
}

.main {
  position: absolute;
  z-index: 10;
  border: 1px solid silver;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

path{
  -webkit-transition: stroke-dashoffset 2s ease-in-out;
  transition: stroke-dashoffset 2s ease-in-out;
}

.main.dropped {
  opacity: 0;
}

#droparea {
  margin: 20px auto;
  width: 80%;
  padding: 50px;
  text-align: center;
  border: 10px solid #eee;
  color: gray;
  border-radius: 5px;
  border-style: dashed;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container svg, #area-of-reach {
  transition: opacity 1s ease-in-out;
  position: absolute;
  max-width: 100%;
}

.container img {
  transition: opacity 1s ease-in-out;
  max-width: 100%;
}

#image {
  display: none;
}

#canvas {
  display: none;
}

/* styles for the resulting svg */
polyline {
  stroke: grey;
  stroke-width: 1;
  stroke-linecap: round;
  opacity: 1;
  stroke-dashoffset: 0;
  fill: none;
}


.area {
  position: relative;
  width: 800px;
  height: 600px;
}